{% extends 'base.html.twig' %}

{% block title %}Cartera index{% endblock %}

{% block body %}
    <h1>Listado Carteras 
    <span><i style="font-size:38px;" class="fas fa-clipboard-list text-dark ml-1"></i></span></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cartera in carteras %}
            <tr>
                <td>{{ cartera.id }}</td>
                <td>{{ cartera.nombre }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('cartera_show', {'id': cartera.id}) }}">Mostrar</a>
                    <a class="btn btn-secondary" role="button" href="{{ path('cartera_edit', {'id': cartera.id}) }}">Modificar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" role="button" href="{{ path('cartera_new') }}">Crear nuevo</a>
{% endblock %}
