{% extends 'base.html.twig' %}

{% block title %}Comercializacion index{% endblock %}

{% block body %}
    <h1>Listado de Comercializaciones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comercializacion in comercializacions %}
            <tr>
                <td>{{ comercializacion.id }}</td>
                <td>{{ comercializacion.descripcion }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('comercializacion_show', {'id': comercializacion.id}) }}">Mostrar</a>
                    <a class="btn btn-secondary" role="button" href="{{ path('comercializacion_edit', {'id': comercializacion.id}) }}">Modificar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" role="button" href="{{ path('comercializacion_new') }}">Crear nuevo</a>
{% endblock %}
