{% extends 'base.html.twig' %}

{% block title %}Comercializacion{% endblock %}

{% block body %}
    <h1>Comercializacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comercializacion.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ comercializacion.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comercializacion_index') }}">back to list</a>

    <a href="{{ path('comercializacion_edit', {'id': comercializacion.id}) }}">edit</a>

    {{ include('comercializacion/_delete_form.html.twig') }}
{% endblock %}
