{% extends 'base.html.twig' %}

{% block title %}Comercializacion{% endblock %}

{% block body %}
    <h1>Comercializacion
    <span><i style="font-size:38px;" class="fas fa-eye text-dark ml-1"></i></span></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comercializacion.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ comercializacion.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('comercializacion_index') }}">Volver al listado</a>

    <a class="btn btn-secondary" role="button" href="{{ path('comercializacion_edit', {'id': comercializacion.id}) }}">Modificar</a>

    {{ include('comercializacion/_delete_form.html.twig') }}
{% endblock %}
