{% extends 'base.html.twig' %}

{% block title %}Pantalla de Registro{% endblock %}

{% block body %}
    <h1>Registro
    <span><i style="font-size:38px;" class="fas fa-registered text-dark ml-1"></i></span></h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.nombre) }}
        {{ form_row(registrationForm.apellido) }}
        {{ form_row(registrationForm.direccion) }}
        {{ form_row(registrationForm.telefono) }}
        {{ form_row(registrationForm.tipousr) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
