{% extends 'base.html.twig' %}

{% block title %}Tipologia index{% endblock %}

{% block body %}
    <h1>Listado de Tipologias</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipologium in tipologias %}
            <tr>
                <td>{{ tipologium.id }}</td>
                <td>{{ tipologium.descripcion }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('tipologia_show', {'id': tipologium.id}) }}">Mostrar</a>
                    <a class="btn btn-secondary" role="button" href="{{ path('tipologia_edit', {'id': tipologium.id}) }}">Modificar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" role="button" href="{{ path('tipologia_new') }}">Crear nuevo</a>
{% endblock %}
