{% extends 'base.html.twig' %}

{% block title %}Status2 index{% endblock %}

{% block body %}
    <h1>listado de Status2 </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status2 in status2s %}
            <tr>
                <td>{{ status2.id }}</td>
                <td>{{ status2.descripcion }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('status2_show', {'id': status2.id}) }}">Mostrar</a>
                    <a class="btn btn-secondary" role="button" href="{{ path('status2_edit', {'id': status2.id}) }}">Modificar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" role="button" href="{{ path('status2_new') }}">Crear nuevo</a>
{% endblock %}
