{% extends 'base.html.twig' %}

{% block title %}Status2{% endblock %}

{% block body %}
    <h1>Status2</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ status2.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ status2.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('status2_index') }}">Volver al listado</a>

    <a class="btn btn-secondary" role="button" href="{{ path('status2_edit', {'id': status2.id}) }}">Modificar</a>

    {{ include('status2/_delete_form.html.twig') }}
{% endblock %}
