{% extends 'base.html.twig' %}

{% block title %}Status1 index{% endblock %}

{% block body %}
    <h1>Listado de Status1
    <span><i style="font-size:38px;" class="fas fa-clipboard-list text-dark ml-1"></i></span></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status1 in status1s %}
            <tr>
                <td>{{ status1.id }}</td>
                <td>{{ status1.descripcion }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('status1_show', {'id': status1.id}) }}">Mostrar</a>
                    <a class="btn btn-secondary" role="button" href="{{ path('status1_edit', {'id': status1.id}) }}">Modificar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" role="button" href="{{ path('status1_new') }}">Crear nuevo</a>
{% endblock %}
