{% if inmueble.m2construido is not empty %} <li> M2 construidos: {{inmueble.m2construido}} </li> {% endif %}
{% if inmueble.anoconstruccion is not empty %} <li>Año construccion: {{inmueble.anoconstruccion}}</li> {% endif %}
{% if inmueble.banos is not empty %} <li>Baños: {{inmueble.banos }} </li> {% endif %}
{% if inmueble.dormitorios is not empty %} <li>Dormitorios: {{inmueble.dormitorios }} </li> {% endif %}
{% if inmueble.terrazas is not empty %} <li>Terrazas: {{inmueble.terrazas }} </li> {% endif %}
{% if inmueble.cocina is not empty %} <li>Cocina </li> {% endif %}
{% if inmueble.calefaccion is not empty %} <li>Calefaccion </li> {% endif %}
{% if inmueble.aireacondicionado is not empty %} <li>Aire Acondicionado </li> {% endif %}
{% if inmueble.garaje is not empty %} <li>Garaje </li> {% endif %}
{% if inmueble.piscina is not empty %} <li>Piscina </li> {% endif %}
