 <div class="col-md-4">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="tipologia">Tipologia</label>
            <div class="col-sm-8"> 
            <select class="custom-select custom-select-md" name="tipologia" readonly>
                <option value= {{tipologia.id}} selected> {{tipologia.descripcion}} </option>
            </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="cartera">Cartera</label>
            <div class="col-sm-8">
            <select class="custom-select custom-select-md" name="cartera" required>
                {% for cartera in carteras %}
                <option value= {{cartera.id}} > {{cartera.nombre}} </option>
                {% endfor %}
            </select>
             </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="propietario">Propietario</label>
             <div class="col-sm-8"> 
            <select class="custom-select custom-select-md" name="propietario" required>
                {% for propietario in propietarios %}
                <option value= {{propietario.id}} > {{propietario.nombre}} </option>
                {% endfor %}
            </select>
             </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="status1">Status 1</label>
            <div class="col-sm-8">
            <select class="custom-select custom-select-md" name="status1" required>
                {% for status in status1 %}
                <option value= {{status.id}} > {{status.descripcion}} </option>
                {% endfor %}
            </select>
             </div>
        </div>
         <div class="form-group row">
             <label class="col-sm-4 col-form-label" for="status2">Status 2</label>
             <div class="col-sm-8">
             <select class="custom-select custom-select-md" id= "status2" name="status2" required>
                {% for status in status2 %}
                    {# los inmuebles q no sean suelos, cuando se selecciona status2 (3 - en construccion) se debe registrar el porcentaje construido. #}
                    {# los suelos (tipologias 8 y 9 no debe aparecer el status2 (3 en construccion)). #}
                    {% if tipologia.id == 8 or tipologia.id == 9 %}
                        {% if status.id != 3 %}
                            <option value= {{status.id}} > {{status.descripcion}} </option>
                        {% endif %}
                    {% else %}
                        <option value= {{status.id}} > {{status.descripcion}} </option>
                    {% endif %}
                {% endfor %}
             </select>
             </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="uso">Uso</label>
            <div class="col-sm-8">
            <select class="custom-select custom-select-md" name="uso" required>

                {# los edificios, locales pueden seleccionar usos residencial, comercial, restauracion, turistico, industrial.
                las naves pueden seleccionar uso comercial, agricola, ganadero. 
                las oficinas solo pueden seleccionar uso comercial.
                los pisos, adosados, chalets pueden seleccionar usos residencial, turistico.  
                los suelos urbanos pueden seleccionar usos residencial, comercial, restauracion, turistico, industrial.
                los suelos rusticos pueden seleccionar usos forestal, agricola, ganadero. #}
                
                {% for uso in usos %}
                    {# edificios, locales #}
                     {% if tipologia.id == 1 or tipologia.id == 2%}
                         {% if uso.id != 6 and  uso.id != 7 and uso.id != 8 %}
                            <option value= {{uso.id}} > {{uso.descripcion}} </option>
                         {% endif %}
                    {# naves #}
                     {% elseif tipologia.id == 3 %}
                         {% if uso.id != 1 and  uso.id != 3 and uso.id != 4  and uso.id != 5 and uso.id != 6 %}
                            <option value= {{uso.id}} > {{uso.descripcion}} </option>
                         {% endif %}
                    {# oficinas #}
                     {% elseif tipologia.id == 4 %}
                         {% if uso.id != 1 and  uso.id != 3 and uso.id != 4  and uso.id != 5 and uso.id != 6 and uso.id != 7 and uso.id != 8 %}
                            <option value= {{uso.id}} > {{uso.descripcion}} </option>
                         {% endif %}
                    {# pisos, adosados, chalets #}
                     {% elseif tipologia.id == 5 or tipologia.id == 6 or tipologia.id == 7 %}
                         {% if uso.id != 2 and  uso.id != 3 and uso.id != 5 and uso.id != 6 and uso.id != 7 and uso.id != 8 %}
                            <option value= {{uso.id}} > {{uso.descripcion}} </option>
                         {% endif %}
                    {# suelos urbanos #}
                    {% elseif tipologia.id == 8 %}
                         {% if uso.id != 6 and uso.id != 7 and uso.id != 8 %}
                            <option value= {{uso.id}} > {{uso.descripcion}} </option>
                         {% endif %}
                    {# suelos rusticos #}
                    {% elseif tipologia.id == 9 %}
                         {% if uso.id != 1 and uso.id != 2 and  uso.id != 3 and uso.id != 4  and uso.id != 5 %}
                            <option value= {{uso.id}} > {{uso.descripcion}} </option>
                         {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
             </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="comercializacion">Comercializacion</label>
            <div class="col-sm-8">
            <select class="custom-select custom-select-md" name="comercializacion" id="comercializacion" required>
                {% for comercializacion in comercializaciones %}
                <option value= {{comercializacion.id}} > {{comercializacion.descripcion}} </option>
                {% endfor %}
            </select>
             </div>
        </div>
 </div>
 <div class="col-md-4">
    <div class="form-group row">
        <label class="col-sm-4 col-form-label" id="label_precio" for="precio">Importe</label>
        <div class="col-sm-8">
        <input type="number" class="form-control form-control-md" name="precio" id="precio" placeholder="Importe" min="1" step="0.01" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="direccion">Direccion</label>
        <div class="col-sm-8">
        <input type="text" class="form-control form-control-md" name="direccion" placeholder="direccion" minlength="5" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="localidad">Localidad</label>
        <div class="col-sm-8">
        <input type="text" class="form-control form-control-md" name="localidad" placeholder="localidad" minlength="5" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="provincia">Provincia</label>
        <div class="col-sm-8">
        <input type="text" class="form-control form-control-md" name="provincia" placeholder="provincia" minlength="5" required>
        </div>
    </div>
    <div class="form-group row" id="div_porcentaje_construido">
           
    </div>  
    <div class="custom-file row ml-1 mb-4">
        <label class="col custom-file-label" for="rutaimagen[]">Selec. Fotos del inmueble</label>
        <div class="col">
        <input type="file" class="custom-file-input" name="rutaimagen[]" multiple>    
        </div>
        <div class="row mt-2">
            <div class="col">
                <span class="text-primary" id="nfiles"></span>
            </div>
        </div>
    </div>
 </div>