{% extends 'base.html.twig' %}

{% block title %}Crear Inmueble{% endblock %}

{% block javascripts %}
      <script src="{{ asset('js/inmueble.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col">

          <div class="row mt-5">
               <div class="col-md-5">
                     <h1>Crear {{tipologia.descripcion}} 
                     <span><i style="font-size:38px;" class="fas fa-magic text-dark ml-1"></i></span></h1>
               </div>
          </div>
       

       {#  <h2>{{tipologia.id}} : {{tipologia.descripcion}}</h2> #}

        <form method="POST" action="{{ path('nuevo_inmueble') }}">
            
            <div class="row mt-1">
                {# columna izq - COMUN 
                columna centro - COMUN #}
                        {{ include('inmueble/bloque_inmueble.html.twig') }}
                {# columna der - ESPECIFICO #}
                <div class="col-md-4">
                   {% if tipologia.id == 1 %}
                        {{ include('inmueble/bloque_edificio.html.twig') }}
                   {% elseif tipologia.id == 2 %}
                        {{ include('inmueble/bloque_local.html.twig') }}
                   {% elseif tipologia.id == 3 %}
                        {{ include('inmueble/bloque_nave.html.twig') }}
                   {% elseif tipologia.id == 4 %}
                        {{ include('inmueble/bloque_oficina.html.twig') }}
                   {% elseif tipologia.id == 5 %}
                        {{ include('inmueble/bloque_vivienda.html.twig') }}
                        {{ include('inmueble/bloque_piso.html.twig') }}
                   {% elseif tipologia.id == 6 %}
                        {{ include('inmueble/bloque_vivienda.html.twig') }}
                        {{ include('inmueble/bloque_adosado.html.twig') }}
                   {% elseif tipologia.id == 7 %}
                        {{ include('inmueble/bloque_vivienda.html.twig') }}
                        {{ include('inmueble/bloque_chalet.html.twig') }} 
                   {% elseif tipologia.id == 8 %}
                        {{ include('inmueble/bloque_solar_urbano.html.twig') }}
                   {% elseif tipologia.id == 9 %}
                        {{ include('inmueble/bloque_solar_rustico.html.twig') }}
                   {% endif %}
                </div>
            </div>
            
            <div class="row mt-4">
                 <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary btn-lg">Guardar</button>
                 </div>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}