{% extends 'base.html.twig' %}

{% block title %}Listado de Inmuebles{% endblock %}

{% block body %}
    <div class="row marginleft-5 marginright-5">
        <div class="col">
            <div class="row mt-5">
                <div class="col ">
                    <h1>Listado inmuebles
                <span><i style="font-size:38px;" class="fas fa-clipboard-list text-dark ml-1"></i></span></h1>
                </div>
            </div>

            <div class="row mt-1 bg-dark rounded">
                <div class="col">
                {# form filtros #}
                    {{  include('inmueble/_form_filtros_inmueble.html.twig')}}
                </div>
            </div>
            <div class="row mt-4">
                {# pag actual #}
                <span class="ml-2 h4 text-primary"> Página {{page}} - numTotalPaginas {{numTotalPaginas}} - totalInmuebles {{totalinmuebles}}</span>
            </div>
             <div class="row mt-1">
                {# paginacion , dependiendo del rol te llevara a una ruta u otra, aunque se envien las mismas variables.#}
                <div class="col border-top border-bottom border-primary pt-2 pb-2">
                {# primera pagina #}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                    <a class ="" href="{{path('inmueble_index_comercializacion_todos', {page: 1, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"> <span class="h5"><< </span> </a>
                {% elseif is_granted('ROLE_COMPRADOR') %}
                    <a class ="" href="{{path('inmueble_index_comercializacion_disponibles', {page: 1, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"> <span class="h5"><< </span> </a>
                {% endif %}
                {# anterior #}
                {% if page > 1 %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                        <a class ="ml-2" href="{{path('inmueble_index_comercializacion_todos', {page: page-1 , uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5">{{page-1}}</span></a>
                    {% elseif is_granted('ROLE_COMPRADOR') %}
                        <a class ="ml-2" href="{{path('inmueble_index_comercializacion_disponibles', {page: page-1 , uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5">{{page-1}}</span></a>
                    {% endif %}
                {% endif %}
                {# pagina actual #}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                    <a class ="ml-2" href="{{path('inmueble_index_comercializacion_todos', {page: page, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5">{{page}}</span></a>
                {% elseif is_granted('ROLE_COMPRADOR') %}
                    <a class ="ml-2" href="{{path('inmueble_index_comercializacion_disponibles', {page: page, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5">{{page}}</span></a>
                {% endif %}
                {# siguiente #}
                {% if page < numTotalPaginas %}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                        <a class ="ml-2" href="{{path('inmueble_index_comercializacion_todos', {page: page+1, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5">{{page+1}}</span></a>
                    {% elseif is_granted('ROLE_COMPRADOR') %}
                        <a class ="ml-2" href="{{path('inmueble_index_comercializacion_disponibles', {page: page+1, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5">{{page+1}}</span></a>
                    {% endif %}
                {% endif %}
                {# ultima pagina #}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                    <a class ="ml-2" href="{{path('inmueble_index_comercializacion_todos', {page: numTotalPaginas, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5"> >></span> </a>               
                {% elseif is_granted('ROLE_COMPRADOR') %}  
                    <a class ="ml-2" href="{{path('inmueble_index_comercializacion_disponibles', {page: numTotalPaginas, uso: uso, tipologia: tipologia, fcomercializacion : fcomercializacion, fcampo_busqueda : fcampo_busqueda} )}}"><span class="h5"> >></span> </a>               
                {% endif %}  
                </div>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                <div class="col border-top border-bottom border-primary pt-2 pb-2">
                    <a class="btn btn-outline-primary" role="button" href="{{ path('form_elegir_tipologia') }}">Crear</a>
                </div>
                 {% endif %}  
            </div>
            
            <div class="row mt-3">
                <div class="col ">
                   {% for inmueble in inmuebles%}
                    <div class="row mt-5" >
                        <div class="col-md-3">
                                {% set images = inmueble.rutaimagen | split(';') %}
                                <img src="{{asset(images | first)}}" alt="img principal" srcset="" class="img-fluid rounded">
                        </div>
                        <div class="col-md-9 bg-acqua rounded">
                                <h1 class="text-white">Id {{inmueble.id}} - {{inmueble.tipologia.descripcion | capitalize}} en {{inmueble.comercializacion.descripcion | capitalize}}, {{inmueble.localidad | title}}</h1>
                                <h2 class="text-white ">{{inmueble.precio}} €</h2>
                                <p class="text-marine">{{inmueble.descripcion}}</p>
                                <p><a class="btn btn-outline-marine" role="button" href="{{ path('mostrar_inmueble', {'id': inmueble.id}) }}">Ver detalles</a>
                                 {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                                 <a class="ml-2 btn btn-secondary" role="button" href="{{ path('form_modificar_inmueble', {'id': inmueble.id}) }}">Modificar</a>
                                  <a class="ml-2 btn btn-danger" role="button" href="#">Eliminar</a>
                                 {% endif %}
                                 </p>
                                <div class="bg-marine rounded">
                                    {# customizar la info + iconos para cada tipologia #}
                                    {% if inmueble.tipologia.id == 1 %}
                                        <span class="ml-2"><i class="far fa-square"></i> {{inmueble.m2construido}} m2 </span>
                                        <span class="ml-2"><i class="fas fa-calendar-times"></i> {{inmueble.anoconstruccion}} </span>
                                        {% if inmueble.plantas | default %} <span class="ml-2"><i class="fas fa-layer-group"></i> {{inmueble.plantas}} </span> {% endif %} 
                                        {% if inmueble.porcentajeconstruido | default %} <span class="ml-2"><i class="fas fa-hard-hat"></i> {{inmueble.porcentajeconstruido}} % construido</span> {% endif %} 
                                    {% elseif inmueble.tipologia.id == 2 %}
                                        <span class="ml-2"><i class="far fa-square"></i> {{inmueble.m2construido}} m2 </span>
                                        <span class="ml-2"><i class="fas fa-calendar-times"></i> {{inmueble.anoconstruccion}} </span> 
                                        {% if inmueble.banos | default %} <span class="ml-2"><i class="fas fa-toilet"></i> {{inmueble.banos}} </span> {% endif %} 
                                        {% if inmueble.licactividad | default %} <span class="ml-2"><i class="fas fa-stamp"></i> Lic. Actividad </span> {% endif %} 
                                        {% if inmueble.certenergetico | default %} <span class="ml-2"><i class="fas fa-stamp"></i> Cert. Energético </span> {% endif %}
                                        {% if inmueble.porcentajeconstruido | default %} <span class="ml-2"><i class="fas fa-hard-hat"></i> {{inmueble.porcentajeconstruido}} % construido</span> {% endif %} 
                                    {% elseif inmueble.tipologia.id == 3 %}
                                        <span class="ml-2"><i class="far fa-square"></i> {{inmueble.m2construido}} m2 </span>
                                        <span class="ml-2"><i class="fas fa-calendar-times"></i> {{inmueble.anoconstruccion}} </span> 
                                        {% if inmueble.banos | default %} <span class="ml-2"><i class="fas fa-toilet"></i> {{inmueble.banos}} </span> {% endif %} 
                                        {% if inmueble.plantas | default %} <span class="ml-2"><i class="fas fa-layer-group"></i> {{inmueble.plantas}} </span> {% endif %} 
                                        {% if inmueble.m2parcela | default %} <span class="ml-2"><i class="fas fa-vector-square"></i> {{inmueble.m2parcela}} m2 parcela </span> {% endif %}
                                        {% if inmueble.porcentajeconstruido | default %} <span class="ml-2"><i class="fas fa-hard-hat"></i> {{inmueble.porcentajeconstruido}} % construido</span> {% endif %} 
                                    {% elseif inmueble.tipologia.id == 4 %}
                                        <span class="ml-2"><i class="far fa-square"></i> {{inmueble.m2construido}} m2 </span>
                                        <span class="ml-2"><i class="fas fa-calendar-times"></i> {{inmueble.anoconstruccion}} </span> 
                                        {% if inmueble.banos | default %} <span class="ml-2"><i class="fas fa-toilet"></i> {{inmueble.banos}} </span> {% endif %} 
                                        {% if inmueble.salas | default %} <span class="ml-2"><i class="fas fa-handshake"></i> {{inmueble.salas}} Salas </span> {% endif %}
                                        {% if inmueble.aireacondicionado | default %} <span class="ml-2"><i class="fas fa-fan"></i> Aire Acondicionado</span> {% endif %} 
                                        {% if inmueble.calefaccion | default %} <span class="ml-2"><i class="fas fa-sun"></i> Calefacción</span> {% endif %} 
                                        {% if inmueble.cocina | default %} <span class="ml-2"><i class="fas fa-pizza-slice"></i> Cocina</span> {% endif %}
                                        {% if inmueble.porcentajeconstruido | default %} <span class="ml-2"><i class="fas fa-hard-hat"></i> {{inmueble.porcentajeconstruido}} % construido</span> {% endif %} 
                                    {% elseif inmueble.tipologia.id == 5 %}
                                        <span class="ml-2"><i class="far fa-square"></i> {{inmueble.m2construido}} m2 </span>
                                        <span class="ml-2"><i class="fas fa-calendar-times"></i> {{inmueble.anoconstruccion}} </span> 
                                        {% if inmueble.banos | default %} <span class="ml-2"><i class="fas fa-toilet"></i> {{inmueble.banos}} </span> {% endif %} 
                                        {% if inmueble.dormitorios | default %} <span class="ml-2"><i class="fas fa-bed"></i> {{inmueble.dormitorios}}</span> {% endif %} 
                                        {% if inmueble.cocina | default %} <span class="ml-2"><i class="fas fa-pizza-slice"></i> Cocina</span> {% endif %}
                                        {% if inmueble.calefaccion | default %} <span class="ml-2"><i class="fas fa-sun"></i> Calefacción</span> {% endif %} 
                                        {% if inmueble.aireacondicionado | default %} <span class="ml-2"><i class="fas fa-fan"></i> Aire Acondicionado</span> {% endif %}
                                        {% if inmueble.garaje | default %} <span class="ml-2"><i class="fas fa-parking"></i> Garaje</span> {% endif %}
                                        {% if inmueble.piscina | default %} <span class="ml-2"><i class="fas fa-swimming-pool"></i> Piscina</span> {% endif %} 
                                        {% if inmueble.terrazas | default %} 
                                            {% if inmueble.terrazas > 1 %}
                                                 <span class="ml-2"><i class="fas fa-umbrella-beach"></i> {{inmueble.terrazas}} Terrazas</span> 
                                             {% else %}
                                                 <span class="ml-2"><i class="fas fa-umbrella-beach"></i> {{inmueble.terrazas}} Terraza</span> 
                                             {% endif %}
                                        {% endif %}
                                        {% if inmueble.ascensor | default %} <span class="ml-2"><i class="fas fa-arrow-up"></i> Ascensor</span> {% endif %}
                                        {% if inmueble.trastero | default %} <span class="ml-2"><i class="fas fa-warehouse"></i> Trastero</span> {% endif %}
                                        {% if inmueble.porcentajeconstruido | default %} <span class="ml-2"><i class="fas fa-hard-hat"></i> {{inmueble.porcentajeconstruido}} % construido</span> {% endif %} 
                                    {% elseif inmueble.tipologia.id == 6 %}
                                        <span class="ml-2"><i class="far fa-square"></i> {{inmueble.m2construido}} m2 </span>
                                        <span class="ml-2"><i class="fas fa-calendar-times"></i> {{inmueble.anoconstruccion}} </span> 
                                        {% if inmueble.banos | default %} <span class="ml-2"><i class="fas fa-toilet"></i> {{inmueble.banos}} </span> {% endif %} 
                                        {% if inmueble.dormitorios | default %} <span class="ml-2"><i class="fas fa-bed"></i> {{inmueble.dormitorios}}</span> {% endif %} 
                                        {% if inmueble.cocina | default %} <span class="ml-2"><i class="fas fa-pizza-slice"></i> Cocina</span> {% endif %}
                                        {% if inmueble.calefaccion | default %} <span class="ml-2"><i class="fas fa-sun"></i> Calefacción</span> {% endif %} 
                                        {% if inmueble.aireacondicionado | default %} <span class="ml-2"><i class="fas fa-fan"></i> Aire Acondicionado</span> {% endif %}
                                        {% if inmueble.garaje | default %} <span class="ml-2"><i class="fas fa-parking"></i> Garaje</span> {% endif %}
                                        {% if inmueble.piscina | default %} <span class="ml-2"><i class="fas fa-swimming-pool"></i> Piscina</span> {% endif %} 
                                        {% if inmueble.terrazas | default %} 
                                            {% if inmueble.terrazas > 1 %}
                                                 <span class="ml-2"><i class="fas fa-umbrella-beach"></i> {{inmueble.terrazas}} Terrazas</span> 
                                             {% else %}
                                                 <span class="ml-2"><i class="fas fa-umbrella-beach"></i> {{inmueble.terrazas}} Terraza</span> 
                                             {% endif %}
                                        {% endif %}
                                        {% if inmueble.buhardilla | default %} <span class="ml-2"><i class="fas fa-chess-rook"></i> Buhardilla</span> {% endif %}
                                        {% if inmueble.plantas | default %} <span class="ml-2"><i class="fas fa-layer-group"></i> {{inmueble.plantas}} </span> {% endif %}
                                        {% if inmueble.porcentajeconstruido | default %} <span class="ml-2"><i class="fas fa-hard-hat"></i> {{inmueble.porcentajeconstruido}} % construido</span> {% endif %} 
                                    {% elseif inmueble.tipologia.id == 7 %}
                                        <span class="ml-2"><i class="far fa-square"></i> {{inmueble.m2construido}} m2 </span>
                                        <span class="ml-2"><i class="fas fa-calendar-times"></i> {{inmueble.anoconstruccion}} </span> 
                                        {% if inmueble.banos | default %} <span class="ml-2"><i class="fas fa-toilet"></i> {{inmueble.banos}} </span> {% endif %} 
                                        {% if inmueble.dormitorios | default %} <span class="ml-2"><i class="fas fa-bed"></i> {{inmueble.dormitorios}}</span> {% endif %} 
                                        {% if inmueble.cocina | default %} <span class="ml-2"><i class="fas fa-pizza-slice"></i> Cocina</span> {% endif %}
                                        {% if inmueble.calefaccion | default %} <span class="ml-2"><i class="fas fa-sun"></i> Calefacción</span> {% endif %} 
                                        {% if inmueble.aireacondicionado | default %} <span class="ml-2"><i class="fas fa-fan"></i> Aire Acondicionado</span> {% endif %}
                                        {% if inmueble.garaje | default %} <span class="ml-2"><i class="fas fa-parking"></i> Garaje</span> {% endif %}
                                        {% if inmueble.piscina | default %} <span class="ml-2"><i class="fas fa-swimming-pool"></i> Piscina</span> {% endif %} 
                                        {% if inmueble.terrazas | default %} 
                                            {% if inmueble.terrazas > 1 %}
                                                 <span class="ml-2"><i class="fas fa-umbrella-beach"></i> {{inmueble.terrazas}} Terrazas</span> 
                                             {% else %}
                                                 <span class="ml-2"><i class="fas fa-umbrella-beach"></i> {{inmueble.terrazas}} Terraza</span> 
                                             {% endif %}
                                        {% endif %}
                                        {% if inmueble.m2parcela | default %} <span class="ml-2"><i class="fas fa-vector-square"></i> {{inmueble.m2parcela}} m2 parcela </span> {% endif %}
                                        {% if inmueble.plantas | default %} <span class="ml-2"><i class="fas fa-layer-group"></i> {{inmueble.plantas}} </span> {% endif %} 
                                        {% if inmueble.porcentajeconstruido | default %} <span class="ml-2"><i class="fas fa-hard-hat"></i> {{inmueble.porcentajeconstruido}} % construido</span> {% endif %} 
                                    {% elseif inmueble.tipologia.id == 8 %}
                                        <span class="ml-2"><i class="fas fa-vector-square"></i> {{inmueble.m2superficie}} m2 superficie</span>
                                        {% if inmueble.suministroagua | default %} <span class="ml-2"><i class="fas fa-faucet"></i> Suministro agua</span> {% endif %}
                                        {% if inmueble.suministroelectricidad | default %} <span class="ml-2"><i class="fas fa-lightbulb"></i> Suministro electrididad</span> {% endif %}
                                    {% elseif inmueble.tipologia.id == 9 %}
                                        <span class="ml-2"><i class="fas fa-vector-square"></i> {{inmueble.m2superficie}} m2 superficie</span>
                                        {% if inmueble.pozo | default %} <span class="ml-2"><i class="fas fa-water"></i> Pozo</span> {% endif %}
                                        {% if inmueble.aperos | default %} <span class="ml-2"><i class="fas fa-warehouse"></i> Nave de Aperos</span> {% endif %}      
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
