<div class="row marginleft-5 marginright-5">
      <div class="col bg-dark rounded mt-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-general-navbar">
          {# <a class="navbar-brand color-acqua h5" href="#">Iber Casa</a> #}
          <img id="logo-pequeño" src="{{ asset('img/logo/navbar_iber_casa.svg') }}" alt="" srcset="" style="height: 56px;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-4" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link h5" href="{{path('inmueble_index_comercializacion_todos')}}">Index <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-acqua h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Residencial
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 1, tipologia: 5 } )}}">Piso</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 1, tipologia: 6 } )}}">Adosado</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 1, tipologia: 7 } )}}">Chalet</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 1, tipologia: 2 } )}}">Loft</a>
                </div>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-acqua h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Comercial
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 2, tipologia: 3 } )}}">Nave</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 2, tipologia: 2 } )}}">Local</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 2, tipologia: 4 } )}}">Oficina</a>
                </div>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-acqua h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Suelos
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {tipologia: 8 } )}}">Urbano</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {tipologia: 9 } )}}">Rústico</a>
                </div>
              </li>
               <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-acqua h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Turístico
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 4, tipologia: 5 } )}}">Piso</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 4, tipologia: 7 } )}}">Chalet</a>
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 4, tipologia: 1 } )}}">Edificio</a>
                </div>
              </li>
               <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-acqua h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Restauración
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{path('inmueble_index_comercializacion_todos', {uso: 3, tipologia: 2 } )}}">Local</a>
                </div>
              </li>
               <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-acqua h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Gestionar
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('inmueble_index_comercializacion_todos') }}">Inmuebles</a>
                  <a class="dropdown-item" href="{{ path('cartera_index') }}">Carteras</a>
                  <a class="dropdown-item" href="{{ path('status1_index') }}">Status_1</a>
                  <a class="dropdown-item" href="{{ path('status2_index') }}">Status_2</a>
                  <a class="dropdown-item" href="{{ path('tipologia_index') }}">Tipologias</a>
                  <a class="dropdown-item" href="{{ path('uso_index') }}">Usos</a>
                  <a class="dropdown-item" href="{{ path('comercializacion_index') }}">Comercializaciones</a>
                  <a class="dropdown-item" href="{{ path('alquiler_index') }}">Alquileres</a>
                  <a class="dropdown-item" href="{{ path('venta_index') }}">Ventas</a>
                </div>
              </li>
               <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-lime h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Registro
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('app_register', {tipo : 2}) }}">Vendedor</a>
                </div>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle color-lime h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Informes
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('informe_comercial') }}">Comercial</a>
                </div>
              </li>
              <li class="nav-item active ml-2">
                 <a class="nav-link" href="{{ path('app_logout') }}" id="logout">
                  <span><i style="font-size:38px;" class="fas fa-sign-out-alt color-acqua"></i></span>
                 </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>