{% extends 'base.html.twig' %}

{% block title %}Listado de Alquileres{% endblock %}

{% block body %}
<div class="row mt-2">
    <div class="col ">
        <h1>Listado de Alquileres
    <span><i style="font-size:38px;" class="fas fa-clipboard text-dark ml-1"></i></span></h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
        
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"> <span class="text-primary" >   Id Alquiler </span></th>
            <th scope="col"> <span class="text-primary" >   Inquilino </span></th>
            <th scope="col"> <span class="text-primary" >   Id Inmueble </span></th>
            <th scope="col"> <span class="text-primary" >   Importe </span></th>
            <th scope="col"> <span class="text-primary" >   Fecha Inicio    </span></th>
            <th scope="col"> <span class="text-primary" >   Fecha Fin   </span></th>
            <th scope="col"> <span class="text-primary" >   Fianza  </span></th>
            {% if is_granted('ROLE_ADMIN') %}   <th scope="col"> <span class="text-primary" > Propietario </span></th> {% endif %}
            </tr>
        </thead>
        <tbody>
                {% for alquiler in alquileres %}
                <tr>
                <th scope="row">{{alquiler.id}}</th>
                <td>{{alquiler.usuario.nombre}} {{alquiler.usuario.apellido}}</td>
                <td><a class="text-primary font-italic" href="{{ path('mostrar_inmueble', {'id': alquiler.inmueble.id}) }}"> {{alquiler.inmueble.id}} </a></td>
                <td>{{alquiler.importe | number_format(0,',','.')}} <span class="text-primary" >€</span></td>
                {# formato 24-08-21 17:16:18  #}
                <td>{{alquiler.fechainicio | date("j-m-y H:i:s") }}</td>
                <td>{{alquiler.fechafin | date("j-m-y H:i:s") }}</td>
                <td>{{alquiler.fianza | number_format(0,',','.')}} <span class="text-primary" >€</span></td>
                 {% if is_granted('ROLE_ADMIN') %} <td>{{alquiler.inmueble.usuario.nombre}} {{alquiler.inmueble.usuario.apellido}}</td> {% endif %}
                </tr>
                {% endfor %}
        </tbody>
        </table>

    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
